@import 'normolize'
@import 'fonts'
@import 'elements'
@import 'slick'
@import 'header'

.main
    position: relative
    z-index: 1
    .container
        flex-direction: column
        align-items: baseline
        min-height: 100vh

    &__bg
        position: absolute
        top: 0
        right: 0
        height: 100%
        width: 56%
        z-index: -1
        object-fit: contain
        object-position: center right

    &-title
        margin: auto 0
        max-width: 50%
        padding-bottom: 5vh

    h1
        font-size: 0
        color: transparent
        margin: 0 0 26px
        img
            display: block

    &-descr
        gap: 15px
        font-size: 24px
        color: #4E352B
        justify-content: flex-start
        align-items: flex-end
        margin: 0 0 40px
        img
            margin: 0

    @media screen and ( max-width: 900px )
        .container
            display: block

        &-title
            width: 100%
            margin: 30px 0 0
            max-width: 100%
            padding: 0

        &-descr
            font-size: 16px
            align-items: center
            img
                max-width: 33px

        &__bg
            bottom: 0
            top: auto
            height: 55%
            width: 100%
            object-position: right bottom

.menu
    &-slide
        display: flex !important
        justify-content: space-between
        margin: 0 10px
        img
            display: block
            border-radius: 17px
            object-fit: cover

        .fx
            flex-wrap: wrap
            width: 49%

    &-head
        margin-bottom: 27px
        position: relative
        z-index: 1
        &__text
            display: inline-block
            padding: 25px
            min-width: 260px
            font-size: 24px
            font-weight: 700
            text-align: center
            text-transform: uppercase
            color: white
            background-color: #9B5D4E
            border-radius: 10px 0px 0px 10px
            position: absolute
            right: 0
            top: 50%
            transform: translateY(-50%)

    &__img
        width: 48%

    @media screen and ( max-width: 1000px )
        // display: none

.interior
    .container
        padding: 0

    .h2
        padding: 0 15px

    &-slide
        width: 486px
        margin: 0 30px
        img
            display: block
            aspect-ratio: 1/1
            object-fit: cover
            border-radius: 17px

    @media screen and ( max-width: 800px)
        .h2 
            padding-left: 52px
            &::before
                left: 15px
        &-slide
            margin: 0 15px
            width: 272px
            img
                border-radius: 10px

.contacts
    margin-bottom: 70px
    &-wrap
        align-items: stretch
        margin-bottom: 30px

    &__icon
        width: 64px
        height: 64px
        border-radius: 10px

    &-item
        width: 32%
        gap: 25px
        display: flex
        align-items: center
        border-radius: 14px
        background-color: #1A1A1A
        padding: 33px 38px

    &__label
        display: block
        color: #868686
        font-size: 16px
        line-height: 19.5px
        margin: 0 0 3px

    &__link
        display: block
        color: white
        font-size: 20px
        line-height: 24.38px

    iframe
        width: 100% !important
        height: 360px !important
        border-radius: 17px
        background-color: #eee

    @media screen and ( max-width: 1200px )
        &-wrap
            flex-wrap: wrap
            gap: 15px 0
        &-item
            width: 49%
            &:last-of-type
                width: 100%

    @media screen and ( max-width: 800px )
        margin-bottom: 50px
        &-wrap
            gap: 13px
            margin-bottom: 13px

        &-item
            gap: 17px
            width: 100%
            padding: 21px 20px
            border-radius: 10px

        &__label
            font-size: 12px
            line-height: 120%

        &__link
            font-size: 14px
            line-height: 120%

        &__icon
            width: 35px
            height: 35px

            border-radius: 4px

@import 'footer'
